* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Pallet https://coolors.co/palette/0d1b2a-1b263b-415a77-778da9-e0e1dd */
body {
    background-color: #0d1b2a;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.lobby {
    display: none;
}

.ring {
  display: block;

  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:150px;
  height:150px;
  background:transparent;
  border:3px solid #3c3c3c;
  border-radius:50%;
  text-align:center;
  line-height:150px;
  font-family:sans-serif;
  font-size:20px;
  color:#fff000;
  letter-spacing:4px;
  text-transform:uppercase;
  text-shadow:0 0 10px #fff000;
  box-shadow:0 0 20px rgba(0,0,0,.5);
}



.ring:before
{
  content:'';
  position:absolute;
  top:-3px;
  left:-3px;
  width:100%;
  height:100%;
  border:3px solid transparent;
  border-top:3px solid #fff000;
  border-right:3px solid #fff000;
  border-radius:50%;
  animation:animateC 2s linear infinite;
}
#innerRing
{
  display:block;
  position:absolute;
  top:calc(50% - 2px);
  left:50%;
  width:50%;
  height:4px;
  background:transparent;
  transform-origin:left;
  animation:animate 2s linear infinite;
}
#innerRing:before
{
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:#fff000;
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px #fff000;
}
@keyframes animateC
{
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}
@keyframes animate
{
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}

.heading-container {
    transform: translateY(1rem);
    min-height: 30%;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
    max-width: 80%;
    color: #e0e1dd;
    /*
    border-radius: 30%;
    background-color: #415a77;
    */
}

.heading-container h1 {
    font-size: 4rem;
    font-weight: bold;
}

.heading-container h3 {
    font-size: 2.5rem;
}

.heading-container h4 {
    font-size: 1rem;
}

.seprate {
    padding: 0.5rem;
}

.options-btn {
    font-size: 2rem;
    padding: 0.5rem;
    border-radius: 8px;
    background-color: #e0e1dd;
    color: black;
    border: 2px solid black;
    cursor: pointer;
}

.options-btn:hover  {
    transition: 300ms ease;
    background-color: grey;
}

.heading-container h2 {
    font-size: 2.5rem;
}

#player-container {
    display: flex;
    justify-content: space-evenly;
    color: #e0e1dd;;
    transform: translateY(3rem);
    text-align: center;
    min-height: 50%;
    flex-wrap: wrap;
    background-color: #415a77;
    width: 60%;
    margin: 0 auto;
    border-radius: 8px;
    padding: 0.5rem;
}

.players {
    margin: 0 2rem;
}

.player-counter {
    transform: translateY(4rem);
}

.btn-container {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btn-container > button {
  margin: 0.5rem;
}


.lobbybtns {
  background-color: #e0e1dd;
  border: 2px solid black;
  padding: 1.5rem 6rem;
  font-size: 2rem;
  color: black;
  border-radius: 8px;
}

#start {
    cursor: not-allowed;
    display: none;
    background-color: grey;
}
.lobbybtns:hover {
  transition: 300ms ease;
  background-color: darkgrey;
}

.startActive:hover {
  transition: 300ms ease;
  background-color: darkgrey;
}

.host {
    color: gold;
    cursor: default;
}

.explantionScreen {
  display: none;
}

.progress-bar__container {
  border: 2px solid black;
  height: 2rem;
  margin: 0 auto;
  margin: 5rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
  position: relative;
}

.progress-bar__container div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #415a77;
  border-radius: 15px;
  animation:moveLine 20s linear;

}

@keyframes moveLine
{
  0%
  {
    width: 2%;
  }
  100%
  {
    width: 100%;
  }
}

.questions-containers {
  /* set to grid */
  display: none;
}

.title {
  background-color: #415a77;
  border-radius: 8px;
  padding: 0.5rem;
}


.seprateX3 {
  margin-top: 3rem;
}

#question {
  font-size: 6rem;
  margin-bottom: 3rem;
}

.answers-container {
  width: 80%;
  height: 40vh;
  border: 2px solid white;
  border-radius: 8px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  
}

.Answerbtn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  position: relative;
}

.answer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #415a77;
  color: white;
  font-size: 32px;
  border: none;
  transition: 300ms ease;
  cursor: pointer;
}

.answer:hover {
  background-color: #6588af;
}


#waitingScreen, #gradeScreen {
  /* make it grid */
  display: none;
  min-height: 100vh;
  grid-template-rows: 90% 10%;
}

#gradeScreen {
}



#waitingScreen {
  /* set to grid */
  display: none;
}

#waitingScreen main, #gradeScreen main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 32px;
}

#gradeScreen main {
  flex-direction: column;
}

.fa-check, .fa-x {
  font-size: 10rem;
}

.fa-check {
  display: none;
}


#added-points {
  margin-top: 2rem;
}

#waitingScreen footer, #gradeScreen footer {
  background-color: black;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}

#waitingScreen footer h1, #gradeScreen footer h1 {
  z-index: 3;
  color: white;
}

#leaderboard {
  min-height: 100vh;
  color: white;
}

#leaderboard h1 {
  text-align: center;
  margin-top: 2rem;
  font-size: 3.5rem;
}

.leaderboard-container {
  background-color: #415a77;
  margin: 2rem auto;
  width: 70%;
  /*min-height: 60vh; */
  border-radius: 12px;
  padding: 0.5rem;
  align-items: center;
  flex-direction: column;
}

.Player-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 3rem;
  width: 100%;
  background-color: #0d1b2a;
  z-index: 3;
  justify-content: space-between;
  border-radius: 8px;
  padding: 2rem;
  margin-top: 0.5rem;
  
}

.UsernameText {
  padding-left: 2rem;
  position: relative;
}

.Leaderboard-text {
  font-size: 2rem;
}

.UsernameText::before {
  content: attr(place);
  position: absolute;
  left: -1.5rem;
  color: yellow;
  font-size: 3rem;
  font-weight: bold;
  top: -25%;
}

#leaderboard {
  /* Set to flex*/
  display: none;
  flex-direction: column;
}

#leaderboard footer{
  min-height: 10vh;
  width: 100%;
  background-color: black;
  padding: 1rem;
  color: white;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

#EndGame {
  min-height: 20vh;
  width: 100%;
  display: none;
  flex-direction: column;
}

.Leaderboard-btns {
  width: 50%;
  min-height: 5vh;
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 8px;
  background-color: #e0e1dd;
  color: black;
  border: 2px solid black;
  cursor: pointer;
  margin: 0.5rem auto;
}

.Leaderboard-btns:hover {
  transition: 300ms ease;
  background-color: grey;
}

#NextButton {
  
}

@media screen and (max-width: 992px) {
  #NextButton {
    position: relative;
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 60%;
    min-height: 10vh;
    font-size: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .title {
    font-size: 1rem;
  }

  #leaderboard h1 {
    font-size: 3rem;
  }

  .UsernameText {
    padding-left: 0.5rem;
    font-size: 1.5rem;
  }
  
  .Leaderboard-text {
    font-size: 1.5rem;
  }

  .UsernameText::before {
    font-size: 2.5rem;
  }

  footer {
    font-size: 0.8rem;
  }
}